---
// @ts-ignore
import { Icon } from "astro-icon/components";

---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    About me
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    I have been programming in Java for about 10 years now, but started off with the language Processing while in high
    school. I began learning Java by creating Android apps, but never quite fell in love with it, moving over to Minecraft
    in 2014. I started as a Bukkit/Spigot developer for a small server, but after awhile began to look for something
    deeper, and learned I could start really customizing the game with Forge.
  </p>
</div>

