<footer class="my-20">

  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-s text-slate-500 mt-1">
    <a
    href="https://changelog.superscary.net"
    target="_blank"
    rel="noopener"
    class="hover:underline">
    Changelogs
    </a>
    -
    <a
      href="https://github.com/SuperScary/"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      GitHub
    </a>
    -
    <a
      href="../mods"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Mods
    </a>
    -
    <a
      href="../tutorials"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Tutorials
    </a>
    -
    <a
      href="../docs"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Documentation
    </a>
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">

  </p>

  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()} SuperScary. All rights reserved.
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Made with <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
  </p>
</footer>
