---
import Link from "../ui/link.astro";
import { Picture } from "astro:assets";
import headImage from "assets/super_scary_head.png";
---

<div class="bg-blue-800 p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-left">
    <h2 class="text-white text-4xl md:text-6xl tracking-tight">
        Java Tutorials
    </h2>
    <p class="text-slate-300 mt-4 text-lg md:text-xl">
        Learn Java in an easy to follow text-based format at your own pace.
    </p>
    <div class="flex mt-5">
        <Link href="/tutorials/java" style="inverted">Get Started</Link>
    </div>
</div>

<div class="bg-green-800 p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-left">
    <h2 class="text-white text-4xl md:text-6xl tracking-tight">
        Minecraft Tutorials
    </h2>
    <p class="text-slate-300 mt-4 text-lg md:text-xl">
        Learn how to make Minecraft Mods in your favorite API in a simple, easy to follow way.
    </p>
    <div class="flex mt-5">
        <Link href="/tutorials/minecraft" style="inverted">Get Started</Link>
    </div>
</div>
